/* Reset für einheitliche Darstellung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Container für das Flexbox-Layout */
.container {
    display: flex;
    height: 100vh; /* Vollbildhöhe */
}










/* -- Left side (Sidebar)  -- */
.sidebar {
    background-color: #255847; /* see Design.txt */
    color: white;
    width: 25%;
    min-width: 250px; /* min 250px width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Container für das Dashboard */
.dashboard-filter {
    display: flex; /* Flexbox-Layout für horizontale Aufteilung */
    height: 100vh; /* Höhe des gesamten Viewports */
    flex-direction: column;
}

/* Styling für den Header */
.header {
    flex: 1; 
    display: flex;
    /*align-items: center; /* Inhalt vertikal zentrieren */
    padding-top: 10px; /* Abstand oben */
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

/* Styling für Review-Filter */
.review-filter {
    flex: 7;
    display: flex;
    /*justify-content: center;
    align-items: center; */
    padding-top: 10px; /* Abstand oben */
    padding-left: 5px;
    background-color: #F49069; /* Orange */
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

/* Styling für den Button-Bereich */
.button {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}


#filter-button {
    background-color: #f88c53;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 7px;
    font-size: 1.5rem;
}












/* Right side (placeholder for map) */
.main-content {
    flex: 1; /* rest of space on dashboard apart from the sidebar */
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}

.main-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 1rem;
    line-height: 1.5;
}
