/* Reset für einheitliche Darstellung */
* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

/* global change of bootstrap design */
.btn-primary {
    background-color: #f88c53;
    border-color: #f88c53;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 7px;
}

.btn-primary:hover {
    background-color: #DF6149 !important;
    border-color: #DF6149 !important;
    box-shadow: none !important;
}

.btn-green {
    background-color: #255847;
    border-color: #255847;
    color: #7F7F7F;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 7px;
}

.btn-green:hover,
.btn-green:active {
    background-color: #153329 !important;
    border-color: #153329 !important;
    box-shadow: none !important;
    color: #7F7F7F !important;
}


/* Global styles for all stripes */
.stripe {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: flex-start; /* Align content to the left */
    justify-content: flex-start; /* Align content to the top */
    padding: 0.5rem; /* Padding for content spacing */
    color: white; /* Default text color */
    text-align: left; /* Align text to the left */
    overflow: hidden; /* Prevent scrolling by default */
}


/* all the settings for the filter menu */
/* Left Stripe - Filter menu */
.stripe-left {
    background-color: #255847; /* Dark green */
    width: 20%; /* Default width is 20% */
    min-width: 200px; /* Minimum width */
    flex-shrink: 0; /* Prevent shrinking below min-width */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10; 
    transition: width 0.3s ease; /* Weiche Animation beim Ein-/Ausklappen */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.filter-1 {
    height: 8%;
    min-height: 30px;
    width: 100%;
    padding-left:5px;
    padding-right: 10px;
}

.header {
    /*align-items: center; /* Inhalt vertikal zentrieren */
    justify-content: space-between; /* Platz zwischen Überschrift und Pfeil */
    align-items: center; /* Zentriert vertikal */
    padding-top: 10px; /* Abstand oben */
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
    ;
}

/* css for button in third stripe */

.filter-2 {
    width: 100%;
    padding-left:5px;
    padding-right: 10px;
}

/* .filter-section label {
    margin-bottom: 8px; /* Margin under the label text 
    display: block; /* makes sure, that the label is above the dropdown 
} */

#food-type {
    width: 100%;
    background-color: #153329;  /* Dark green background */
    color: white;               /* White text */
    padding: 10px;              /* Optional padding for aesthetics */
    margin-bottom: 10px;
    border: none;               /* Remove border if desired */
    appearance: none;           /* Remove default browser styling */
    -webkit-appearance: none;   /* For Safari */
    -moz-appearance: none;      /* For Firefox */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    border-radius: 7px;
}

.filter {
    padding-top: 20px;
}

/* .filter:nth-child(6) {
    padding-bottom: 20px;     /* padding for below Food Filter 
} */


.filter-star-img {
    cursor: pointer;
}

.label-filter {
    font-weight: bold;
    padding-right: 5px;
    padding-bottom: 5px;
}

.btn-price-filter-inactive {
    color: white;
    border-color: #153329;
    background-color: #255847;
    border-radius: 7px;
    font-size: 14px !important;
}

.btn-price-filter-active:hover,
.btn-price-filter-active:active,
.btn-price-filter-inactive:hover {
    color: white;
    border-color: #153329;
    background-color: #153329;
    border-radius: 7px;
}

.btn-price-filter-active {
    color: white;
    border-color: #153329;
    background-color: #153329;
    border-radius: 7px;
    font-size: 14px !important;
}

.filter-3 {
    height: 15%;
    width: 100%;
    padding-left: 5px;
    padding-right: 10px;
}

.btn-help {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50px;
    border-color: #153329 !important;
    background-color: #153329 !important;
}

.btn-help:hover,
.btn-help:active{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50px;
}







/* all the settings for the map area
/* Center Stripe - Map */
.stripe-center {
    flex-grow: 1; /* Lässt die Karte den gesamten verfügbaren Platz einnehmen */
    display: flex;
    align-items: center; /* Optional: Vertikal zentrieren */
    justify-content: center; /* Optional: Horizontal zentrieren */
    padding: 0;
    position: relative; /* Für Leaflet wichtig */
}

.input-group{
    position: absolute;
    top: 10px;
    left: 40%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 300px;
} 

.form-control {
    border-left: none; 
    border-right: none; 
    border-radius: 0 50px 50px 0; /* Rechts abgerundet */
}

.input-group-text {
    background-color: white; 
    border-right: none; 
    border-radius: 50px 0 0 50px;
}

#search-icon {
    background-color: white !important; /* Sicherstellen, dass die Hintergrundfarbe weiß bleibt */
    border: none; /* Rand entfernen */
    padding: 10px; /* Optional: Abstände innerhalb des Buttons */
    border-radius: 50px 0 0 50px; /* Links abgerundet */
    display: flex; /* Für zentrierten SVG-Inhalt */
    align-items: center;
    justify-content: center;
}

#search-icon:active,
#search-icon:focus {
    background-color: white !important; /* Auch im aktiven Zustand weiß */
    box-shadow: none; /* Entfernt den Bootstrap-Klickeffekt */
    border: none;
}


#map-container {
    min-height: 100vh; /* Sicherstellen, dass der Container mindestens die Höhe des Viewports hat */
    height: 100%; /* die Karte soll die volle Höhe des Containers einnehmen */
    width: 100%;
}

#map {
    height: 100%; /* die Karte soll die volle Höhe des Containers einnehmen */
    width: 100%;
}

.awesome-marker-icon-my-custom-color {
    background-color: #f88c53 !important; /* Hier dein RGB oder HEX Code */
    border-color: #f88c53 !important;    /* Optional: Rahmenfarbe */
}










/* all the settings for the restaurant details side*/
/* Right Stripe - Restaurant details*/
.stripe-right {
    background-color: #255847; /* Dark green */
    width: 30%; /* Default width is 30% */
    min-width: 70px; /* Minimum width */
    flex-shrink: 0; /* Prevent shrinking below min-width */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 1rem; /* Add padding for better content layout */
    display: block; /* Override any flex properties */
    text-align: left; /* Align text to the left */
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10; 
    transition: width 0.3s ease; /* Weiche Animation beim Ein-/Ausklappen */
    padding-right: 1.5rem;
    position: relative;
    transform: translateX(0);
}

.stripe-right.hidden {
    transform: translateX(100%);
    min-width: 0px !important;
    width: 0 !important; /* Setzt die Breite auf 0 */
    padding: 0 !important; /* Entfernt das Padding */
}

.stripe-right.hidden + .stripe-center {
    width: 80%; /* Nimmt den Platz der Sidebar ein (100% - 20% von left) */
}



/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #7F7F7F;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}

.close-btn:hover {
    color: #404040;
    /*transform: scale(1.2); /* Slight zoom on hover */
}

.top-part-right{
    padding-left:5px;
    padding-right: 10px;
    text-align: center;
    width: 100%;
}

/* header is defined in left stripe*/

#address {
    color: #F2F2F2;
    font-style: italic;
}

#website-url {
    color: #F2F2F2;
    font-style: italic;
    font-size: 12px;
}

.bg-type {
    background-color: #153329 !important;
    border-color: #153329 !important;
}

.star-rating{
    background-color:#255847 !important;
    font-size: 1.0rem;
    padding:12px;
}

#avg-rating{
    font-weight: 400;
}


#hr-right-side{
    width:100%;
    border: 1px solid gray;
}

#summary,
.summary-subcategory {
    text-align: justify !important;
    font-size: 0.9rem;
}

.hr-divider {
    width: 100%;
}

#subcategories-right-side {
    position: relative; /* Ermöglicht absolute Positionierung des Buttons */
    width: 100%;
    text-align: center !important;
}

#info-button {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 20px;
    height: 20px; 
    border-radius: 50%;     
    background-color: #D9D9D9;
    color: black;
    border: none;
    font-size: 14px;
    cursor: pointer; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

#detailed-info-right-side{
    width: 100%;
}

.nav-link{
    color: #F2F2F2;
}

.nav-link:hover,
.nav-link.active{
    color: white !important;
    font: normal !important;
}

.tab-pane{
    padding-top: 10px !important;
    width: 100%;
}

.tab-content{
    width: 100%;
}

.star-rating-detail{
    background-color:#255847 !important;
    font-size: 1.0rem;
    padding-left:2px;
    padding-bottom: 10px;
}

.star-rating-ov {
    display: flex; 
    align-items: center; 
    gap: 5px;
}
/* 
.summary-subcategory{
    font-size: 0.85rem;
    text-align: justify !important;
} */

.label-amount {
    font-size: 0.75rem;
    text-align: right !important;
    font-style: italic;
}

.avg-rating-label{
    font-size: 0.85rem;
    font-weight: 400;
}

.graph{
    width: 100%;
    height: 500;
}

.graph-price{
    width: 100%;
    height: 450px;
}



#footer-div{
    background-color: #255847 !important;
}